<!-- End Side Vav -->
<a class="close_side_menu" href="javascript:void(0);"></a>

<div class="rbt-page-banner-wrapper">
    <!-- Start Banner BG Image  -->
    <div class="rbt-banner-image"></div>
    <!-- End Banner BG Image  -->
    <div class="rbt-banner-content">
        <!-- Start Banner Content Top  -->
        <div class="rbt-banner-content-top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <!-- Start Breadcrumb Area  -->
                        <ul class="page-list">
                            <li class="rbt-breadcrumb-item"><a href="index.html">Home</a></li>
                            <li>
                                <div class="icon-right"><i class="feather-chevron-right"></i></div>
                            </li>
                            <li class="rbt-breadcrumb-item active">All Courses</li>
                        </ul>
                        <!-- End Breadcrumb Area  -->

                        <div class=" title-wrapper">
                            <h1 class="title mb--0">All Courses</h1>
                            <a href="#" class="rbt-badge-2">
                                <div class="image">🎉</div> 50 Courses
                            </a>
                        </div>
                        <p class="description">Courses that help beginner designers become true unicorns. </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Banner Content Top  -->
        <!-- Start Course Top  -->
        <div class="rbt-course-top-wrapper mt--40">
            <div class="container">
                <div class="row g-5 align-items-center">
                    <div class="col-xl-5 col-lg-12 col-md-12">
                        <div class="rbt-sorting-list d-flex flex-wrap align-items-center">
                            <div class="rbt-short-item switch-layout-container">
                                <ul class="course-switch-layout">
                                    <li class="course-switch-item">
                                        <button class="rbt-grid-view" [ngClass]="{'active': select_option == 1}" (click)="addOption(1)" title="Grid Layout">
                                            <i class="feather-grid"></i> <span class="text">Grid</span>
                                        </button></li>
                                    <li class="course-switch-item">
                                        <button class="rbt-list-view" [ngClass]="{'active': select_option == 2}" (click)="addOption(2)" title="List Layout">
                                            <i class="feather-list"></i> <span class="text">Filter</span>
                                        </button></li>
                                </ul>
                            </div>
                            <div class="rbt-short-item">
                                <span class="course-index">Showing 1-9 of 19 results</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-7 col-lg-12 col-md-12">
                        <div class="rbt-sorting-list d-flex flex-wrap align-items-end justify-content-start justify-content-xl-end">
                            <div class="rbt-short-item">
                                <form action="#" class="rbt-search-style me-0">
                                    <input type="text" [(ngModel)]="search_course" name="search_course" (keyup.enter)="filterCourses()" placeholder="Search Your Course..">
                                    <button type="submit" class="rbt-search-btn rbt-round-btn">
                                        <i class="feather-search"></i>
                                    </button>
                                </form>
                            </div>
                            <!-- <div class="rbt-short-item">
                                <div class="filter-select">
                                    <span class="select-label d-block">Short By</span>
                                    <div class="filter-select rbt-modern-select search-by-category">
                                        <select data-size="7">
                                            <option>Default</option>
                                            <option>Latest</option>
                                            <option>Popularity</option>
                                            <option>Trending</option>
                                            <option>Price: low to high</option>
                                            <option>Price: high to low</option>
                                        </select>
                                    </div>
                                </div>
                            </div> -->
                        </div>

                    </div>
                </div>
                <div class="row" *ngIf="select_option == 2">
                    <div class="col-lg-12">
                        <div class="rbt-sidebar-widget-wrapper filter-top-2 mt--60">
                            <div class="row g-5">
                                <!-- Start Widget Area  -->
                                <div class="col-lg-2 col-md-4 col-sm-6 col-12">
                                    <div class="rbt-single-widget rbt-widget-categories has-show-more">
                                        <div class="inner">
                                            <h4 class="rbt-widget-title-2">Categories</h4>
                                            <ul class="rbt-sidebar-list-wrapper categories-list-check has-show-more-inner-content">
                                                <ng-container *ngFor="let CATEGORIE of CATEGORIES">
                                                    <li class="rbt-check-group">
                                                        <input [id]="'cat-list-'+CATEGORIE._id" type="checkbox" (click)="addCategorie(CATEGORIE._id)" [name]="'cat-list-'+CATEGORIE._id">
                                                        <label [attr.for]="'cat-list-'+CATEGORIE._id">{{ CATEGORIE.title }} <span class="rbt-lable count">{{ CATEGORIE.count_course }}</span></label>
                                                    </li>
                                                </ng-container>
                                                
                                                
                                            </ul>
                                        </div>
                                        <div class="rbt-show-more-btn">Show More</div>
                                    </div>
                                </div>
                                <!-- End Widget Area  -->

                                <!-- Start Widget Area  -->
                                <div class="col-lg-2 col-md-4 col-sm-6 col-12">
                                    <div class="rbt-single-widget rbt-widget-rating">
                                        <div class="inner">
                                            <h4 class="rbt-widget-title-2">Ratings</h4>
                                            <ul class="rbt-sidebar-list-wrapper rating-list-check">
                                                <li class="rbt-check-group">
                                                    <input id="cat-radio-1" type="radio" (click)="selectedRating(5)" name="rbt-radio">
                                                    <label for="cat-radio-1">
                                                        <span class="rating">
                                                            <i class="fas fa-star"></i>
                                                            <i class="fas fa-star"></i>
                                                            <i class="fas fa-star"></i>
                                                            <i class="fas fa-star"></i>
                                                            <i class="fas fa-star"></i>
                                                        </span>
                                                        <span class="rbt-lable count">5</span>
                                                    </label>
                                                </li>
                                                <li class="rbt-check-group">
                                                    <input id="cat-radio-2" type="radio" (click)="selectedRating(4)" name="rbt-radio">
                                                    <label for="cat-radio-2">
                                                        <span class="rating">
                                                            <i class="fas fa-star"></i>
                                                            <i class="fas fa-star"></i>
                                                            <i class="fas fa-star"></i>
                                                            <i class="fas fa-star"></i>
                                                            <i class="off fas fa-star"></i>
                                                        </span>
                                                        <span class="rbt-lable count">4</span>
                                                    </label>
                                                </li>
                                                <li class="rbt-check-group">
                                                    <input id="cat-radio-3" type="radio" (click)="selectedRating(3)" name="rbt-radio">
                                                    <label for="cat-radio-3">
                                                        <span class="rating">
                                                            <i class="fas fa-star"></i>
                                                            <i class="fas fa-star"></i>
                                                            <i class="fas fa-star"></i>
                                                            <i class="off fas fa-star"></i>
                                                            <i class="off fas fa-star"></i>
                                                        </span>
                                                        <span class="rbt-lable count">3</span>
                                                    </label>
                                                </li>
                                                <li class="rbt-check-group">
                                                    <input id="cat-radio-4" type="radio" (click)="selectedRating(2)" name="rbt-radio">
                                                    <label for="cat-radio-4">
                                                        <span class="rating">
                                                            <i class="fas fa-star"></i>
                                                            <i class="fas fa-star"></i>
                                                            <i class="off fas fa-star"></i>
                                                            <i class="off fas fa-star"></i>
                                                            <i class="off fas fa-star"></i>
                                                        </span>
                                                        <span class="rbt-lable count">2</span>
                                                    </label>
                                                </li>

                                                <li class="rbt-check-group">
                                                    <input id="cat-radio-5" type="radio" (click)="selectedRating(1)" name="rbt-radio">
                                                    <label for="cat-radio-5">
                                                        <span class="rating">
                                                            <i class="fas fa-star"></i>
                                                            <i class="off fas fa-star"></i>
                                                            <i class="off fas fa-star"></i>
                                                            <i class="off fas fa-star"></i>
                                                            <i class="off fas fa-star"></i>
                                                        </span>
                                                        <span class="rbt-lable count">1</span>
                                                    </label>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Widget Area  -->

                                <!-- Start Widget Area  -->
                                <div class="col-lg-2 col-md-4 col-sm-6 col-12">
                                    <div class="rbt-single-widget rbt-widget-instructor">
                                        <div class="inner">
                                            <h4 class="rbt-widget-title-2">Instructors</h4>
                                            <ul class="rbt-sidebar-list-wrapper instructor-list-check">
                                                <ng-container *ngFor="let INSTRUCTOR of INSTRUCTORES">
                                                    <li class="rbt-check-group">
                                                        <input [id]="'ins-list-'+INSTRUCTOR._id" (click)="addInstructor(INSTRUCTOR._id)" type="checkbox" [name]="'ins-list-'+INSTRUCTOR._id">
                                                        <label [attr.for]="'ins-list-'+INSTRUCTOR._id">{{ INSTRUCTOR.name + ' ' + INSTRUCTOR.surname }} 
                                                            <span class="rbt-lable count">{{ INSTRUCTOR.count_course }}</span>
                                                        </label>
                                                    </li>
                                                </ng-container>
                                                
                                                
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Widget Area  -->

                                <!-- Start Widget Area  -->
                                <div class="col-lg-2 col-md-4 col-sm-6 col-12">
                                    <div class="rbt-single-widget rbt-widget-lavels">
                                        <div class="inner">
                                            <h4 class="rbt-widget-title-2">Levels</h4>
                                            <ul class="rbt-sidebar-list-wrapper lavels-list-check">
                                                <ng-container *ngFor="let LEVEL of LEVELS;let i=index">
                                                    <li class="rbt-check-group">
                                                        <input [id]="'lavels-list-'+i" type="checkbox" (click)="addLevels(LEVEL.name)" [name]="'lavels-list-'+i">
                                                        <label [attr.for]="'lavels-list-'+i">{{ LEVEL.name }}
                                                            <span class="rbt-lable count">{{ LEVEL.count_course }}</span>
                                                        </label>
                                                    </li>
                                                </ng-container>
                                                
                                                
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Widget Area  -->

                                <!-- Start Widget Area  -->
                                <div class="col-lg-2 col-md-4 col-sm-6 col-12">
                                    <div class="rbt-single-widget rbt-widget-features">
                                        <div class="inner">
                                            <h4 class="rbt-widget-title-2">Idioma</h4>
                                            <ul class="rbt-sidebar-list-wrapper features-list-check">
                                                <ng-container *ngFor="let IDIOMA of IDIOMAS;let i=index">
                                                    <li class="rbt-check-group">
                                                        <input [id]="'features-list-'+i" type="checkbox" (click)="addIdioma(IDIOMA.name)" [name]="'features-list-'+i">
                                                        <label [attr.for]="'features-list-'+i">{{ IDIOMA.name }}
                                                            <span class="rbt-lable count">{{ IDIOMA.count_course }}</span>
                                                        </label>
                                                    </li>
                                                </ng-container>

                                                
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Widget Area  -->

                                <!-- Start Widget Area  -->
                                <div class="col-lg-2 col-md-4 col-sm-6 col-12">
                                    <div class="rbt-single-widget rbt-widget-prices">
                                        <div class="inner">
                                            <h4 class="rbt-widget-title-2">Prices</h4>
                                            <div class="price_filter s-filter clear">
                                                <form action="#" method="GET">
                                                    <div id="slider-range"></div>
                                                    <div class="slider__range--output">
                                                        <div class="price__output--wrap">
                                                            <div class="price--output">
                                                                <span>Price :</span><input type="text" id="amount">
                                                            </div>
                                                            <div class="price--filter">
                                                                <a class="rbt-btn btn-gradient btn-sm" href="#">Filter</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Widget Area  -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Course Top  -->
    </div>
</div>



<!-- Start Card Style -->
<div class="rbt-section-overlayping-top rbt-section-gapBottom">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="rbt-course-grid-column">

                    <ng-container *ngFor="let COURSE of COURSES">
                        <!-- Start Single Card  -->
                        <div class="course-grid-3">
                            <div class="rbt-card variation-01 rbt-hover">
                                <div class="rbt-card-img">
                                    <a [routerLink]="['landing-curso/',COURSE.slug]">
                                        <img [src]="COURSE.imagen" style="height: 244px;" alt="Card image">
                                        <div class="rbt-badge-3 bg-white" *ngIf="COURSE.discount_g">
                                            <span *ngIf="COURSE.discount_g.type_discount == 1">-{{ COURSE.discount_g.discount }}%</span>
                                            <span *ngIf="COURSE.discount_g.type_discount == 2">-{{ COURSE.discount_g.discount }}USD</span>
                                            <span>Off</span>
                                        </div>
                                    </a>
                                </div>
                                <div class="rbt-card-body">
          
                                    <div class="rbt-card-top">
                                        <div class="rbt-review">
                                            <div class="rating">
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                            </div>
                                            <span class="rating-count"> (15 Reviews)</span>
                                        </div>
                                        <div class="rbt-bookmark-btn">
                                            <a class="rbt-round-btn" title="Bookmark" href="#"><i class="feather-bookmark"></i></a>
                                        </div>
                                    </div>
          
                                    <h4 class="rbt-card-title"><a [routerLink]="['landing-curso/',COURSE.slug]">{{ COURSE.title }}</a>
                                    </h4>
                                    <ul class="rbt-meta">
                                        <li><i class="feather-book"></i>{{ COURSE.n_clases }} Lessons</li>
                                        <li><i class="feather-users"></i>40 Students</li>
                                    </ul>
                                    <p class="rbt-card-text">{{ COURSE.subtitle }}</p>
                                    <div class="rbt-author-meta mb--20">
                                        <div class="rbt-avater">
                                            <a href="#">
                                                <img [src]="COURSE.user.avatar ? COURSE.user.avatar : 'assets/images/client/avater-01.png'" alt="Sophia Jaymes">
                                            </a>
                                        </div>
                                        <div class="rbt-author-info">
                                            By <a href="profile.html">{{ COURSE.user.name + ' ' + COURSE.user.surname }}</a> In <a href="#">{{ COURSE.user.profsesion }}</a>
                                        </div>
                                    </div>
          
                                    <div class="rbt-card-bottom">
                                        <div class="rbt-price">
                                            <span class="current-price">${{ getTotalPriceCourse(COURSE) }}</span>
                                            <span class="off-price" *ngIf="COURSE.discount_g">${{ COURSE.price_usd }}</span>
                                        </div>
                                        <!-- [routerLink]="['landing-curso/',COURSE.slug]" -->
                                      <a class="rbt-btn-link left-icon" (click)="addCart(COURSE)" href="#" onclick="return false;"><i class="feather-shopping-cart"></i> Add To Cart</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Card  -->
                    </ng-container>
                    

                </div>
                <div class="row">
                    <div class="col-lg-12 mt--60">
                        <nav>
                            <ul class="rbt-pagination">
                                <li><a href="#" aria-label="Previous"><i class="feather-chevron-left"></i></a></li>
                                <li><a href="#">1</a></li>
                                <li class="active"><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#" aria-label="Next"><i class="feather-chevron-right"></i></a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Card Style -->

<div class="rbt-separator-mid">
    <div class="container">
        <hr class="rbt-separator m-0">
    </div>
</div>